
\.idea/

venv/

flask_modules/app/__pycache__/

flask_modules/logger/__pycache__/

app/src/Components/Layouts/

app/src/Components/AxiosTest\.js

app/src/Components/SwitcheoChart\.js

app/src/Components/VictoryChartBrushAndZoom\.js

app/src/Components/SwitcheoVictoryChart\.js

app/src/Components/SwitcheoTotalTrades\.js
